---
title: Home | Soapbox Collective
about-title: ABOUT US
contact-title: CONTACT US
background-image: background-home.jpeg
logo: bunny-white.png
logo-image: bunny-white.png
background-colour: "#FFE8DE"
about-box-colour: "#f89f7d"
footer-colour: "#f89f7d"
video-url: https://www.youtube.com/embed/L9jZXkkXVmQ
about-box-text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin,
  massa vel viverra ornare, felis leo lobortis enim, vitae elementum sapien turpis
  nec odio. Curabitur efficitur erat non suscipit feugiat. Vestibulum at tellus blandit,
  lacinia elit ac, porttitor augue. Aenean sit amet nisl sit amet tellus congue maximus.
  Donec aliquet eros dolor. Mauris congue leo in diam sollicitudin consequat. Vestibulum
  vel facilisis sem. Donec iaculis sodales metus pretium pharetra. Nulla sapien nisl,
  consequat vitae viverra non, ullamcorper ut libero. In efficitur tellus ac urna
  fringilla, eu posuere elit consequat. In hac habitasse platea dictumst. Praesent
  in molestie purus. Nullam at est auctor neque molestie feugiat vitae vitae diam

---
{% include header.html %}
{% include icons.html %}
{% include about-small.html %}
{% include video.html %}
{% include newsletter-small-2.html %}
{% include contact.html %}