
<section class="about-small-section" style="background-color: {{ page.background-colour }};">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 about-small-box" style="background-color: {{ page.about-box-colour }};" >
        <h1 class="about-small-heading"><span class="first-word">ABOUT </span><span class="second-word">US</span></h1>
        <p class="about-small-text">{{ page.about-box-text }}</p> 

        <a href="/about"><button class="button about-button">MORE ABOUT US</button></a>
        
      </div>
  </div>
</section>




  