<div class="container">
  <div class="row">
    <div class="col-md-6 block-two-image-container">
      <div class="block-two-image img-responsive" style="background-image: url('{{site.baseurl}}/assets/images/{{ page.double-image-1 }}');">
      </div>
    </div>
    <div class="col-md-6 col-sm-12 block-two-image-container">
      <div class="block-two-image img-responsive" style="background-image: url('{{site.baseurl}}/assets/images/{{ page.double-image-2 }}');">
      </div>
    </div>
  </div>   
</div>