<section class="contact-section">
  <div class="container contact-wrapper justify-content-md-center">
    <div class="row">
        <h1>{{ page.contact-title}}</h1>
    </div>
    <div class="row">
        <h4 style="text-align:center">We'd love to hear from you!</h4>
    </div>
    <div class="row input-container offset-md-3 contact-center">
        <div class="col-sm-12">
          <div class="styled-input wide">
            <input type="text" required />
            <label>Name</label> 
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input">
            <input type="text" required />
            <label>Email</label> 
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input" style="float:right;">
            <input type="text" required />
            <label>Phone Number</label> 
          </div>
        </div>
        <div class="col-sm-12">
          <div class="styled-input wide">
            <textarea required></textarea>
            <label>Message</label>
          </div>
        </div>
        <button class="button contact-button">SUBMIT</button>
    </div>
  </div>
</section>