<section class="central-icons">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-2 offset-md-2 main-icon">
        <a class="header-icon" href="/projects"><img src="{{ site.baseurl }}/assets/images/icons/fist-small.png"></a>
        <h4 class="service-heading">Project Areas</h4>
      </div>
      <div class="col-md-2 main-icon">
        <a class="header-icon" href=""><img src="{{ site.baseurl }}/assets/images/icons/film-small.png"></a>
        <h4 class="service-heading">Multimedia</h4>
      </div>
      <div class="col-md-2 main-icon">
        <a class="header-icon" href=""><img src="{{ site.baseurl }}/assets/images/icons/wisdom.png"></a>
        <h4 class="service-heading">Research and Analysis</h4>
      </div>
      <div class="col-md-2 main-icon">
        <a class="header-icon" href=""><img src="{{ site.baseurl }}/assets/images/icons/calendar-small.png"></a>
        <h4 class="service-heading">Workshops and Events</h4>
      </div>
    </div>
  </div>
</section>