<section id="services">
  <div class="container">
    <div class="row text-center">
      <a href="/projects"><div class="col-md-3 main-icon">
        <img class="header-icon" src="{{ site.baseurl }}/assets/images/icons/fist-small.png">
        <h4 class="service-heading">Project Areas</h4>
         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div></a>
      <div class="col-md-3 main-icon">
        <img class="header-icon" src="{{ site.baseurl }}/assets/images/icons/film-small.png">
        <h4 class="service-heading">Multimedia</h4>
         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-3 main-icon">
        <img class="header-icon" src="{{ site.baseurl }}/assets/images/icons/wisdom.png">
        <h4 class="service-heading">Research and Analysis</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-3 main-icon">
        <img class="header-icon" src="{{ site.baseurl }}/assets/images/icons/calendar-small.png">
        <h4 class="service-heading">Workshops and Events</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>