<div class="newsletter-wrapper" style="background-image: url('{{site.baseurl}}/assets/images/{{ page.background-image }}');">
  <div class="container">
    <div class="newsletter-box row">
      <div class="newsletter-small-text">Keep up to speed with what's going on through our newsletter and our social media channels!</div>
    </div>  
    <div class="row">
      <div class="newsletter-button-wrapper">
        <a href="/subscribe" target="_blank"><button class="button newsletter-button">SUBSCRIBE!</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 newsletter-social-wrapper">
        <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-square"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
    </div>
  </div>
</div>


