.about-small-section {
   padding: 2rem 0;
   background-color: $v-light-peach;
}

.about-small-text {
    padding: 2rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: center;

}

.about-small-heading {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
}

.about-small-box {
  background-color: #FFC1A4;
  padding: 4rem 2rem;
  border: 1px solid black;
}

.about-button {
  display: block;
  margin: 0 auto;
  background-color: $teal;
}


