// VIDEO



// IMAGE

.block-image {
  height: 500px;
  width: 100%;
  position:relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

} 

.block-image-container {
  padding: 0 !important;
}

// DOUBLE IMAGE

.block-two-image {
  height: 380px;
  width: 100%;
  position:relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

} 

.block-two-image:nth-child(2n) {
  padding-left: 20px;
}

.block-two-image {
  margin-bottom: 30px;
}

// WIDE IMAGE

.block-wide-image {
  height: 500px;
  width: 100%;
  position:relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;

} 

// TEXT

.intro-paragraph {
  padding-bottom: 12px; 
  font-size: 1.7rem;
  color: black;
}
.paragraph {
  font-size: 1.35rem;
  line-height: 2.2 !important;
  color: black;
}