  // POSTS FILTER

// .hidden {
//   display: none!important;
//   visibility: hidden!important;
// }

// PROJECTS/BLOG

.blog-wrapper {
  padding: 90px 10%;
}

.blog-wrapper .blog-title  {
  text-align: center;
  padding: 2.5rem;
}

.post-thumbnail {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: bold;
    font-size: 1.1rem;
}

 .thumbnail-parent:nth-of-type(4n + 1) {
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
      color: red;

}

 .thumbnail-parent:nth-of-type(4n + 2) {
      box-shadow: inset 0 0 0 1000px rgba(111,0,0,.4);


}

 .thumbnail-parent :nth-of-type(4n + 3) {
      box-shadow: inset 0 0 0 1000px rgba(0,222,0,.4);
}

 .thumbnail-parent :nth-of-type(4n + 4) {
      box-shadow: inset 0 0 0 1000px rgba(220,20,60,.4);
}

