
.contact-section {
  padding: 9rem 0;
}


  .contact-section input, .contact-section textarea {
    border: 1px solid #bbb;
  
}

.contact-image {
  background-size: contain;
  background-repeat: no-repeat;
   height: 200px;
   width: 100px;

}

.contact-wrapper h1, h4 {
    display: block;
    margin: 0 auto;
}

.contact-center {
  margin: 0 auto !important;
}

.contact-header {
  margin-bottom: 50px;
}

.contact-heading {
  display: inline-block;
  position: relative;
  padding-top: 40px;
}

.contact-section h4 {
  padding-top: 50px;
}

.contact-headings-wrapper {
  padding-left: 0 !important;
}

.contact-heading:before {
  content: "";
  position: absolute;
  width: 180px;
  bottom: -20%;
  border-bottom: 1px solid black;
}

.contact-text {
  font-size: 1rem;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
    .contact-heading {
      font-size: 26px;
      width: 80%;
    }

    .contact-text {
      font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1050px){

    .contact-heading {
      width: 70%;
    }
}

.styled-input label {
    color: #999;
    padding: 0.8rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 20px;
    border: 1px solid $jade;
    width: 100%;
    font-size: 1rem;
    background-color: #FFF6F2;
    color: black;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.contact-button {
  display: block;
  margin: 0 auto;
  background-color: $teal;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}