.central-icons {
  padding: 10rem 0;
  background-color: $v-light-peach;
}

.service-heading {
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.main-icon {
  padding: 0;
    transition: transform 220ms ease-in-out;

}


.main-icon:hover {
    transform: scale(1.1) translateZ(0);

  
}