.navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-item .nav-facebook li:hover {
    color: $mango;
}

.nav-item .nav-twitter li:hover {
      color: $dirty-pink;
}

.nav-item .nav-youtube:hover {
      color: $teal;
}

nav .fa{
    font-size: 1.5rem;
}

ul li a{
    margin: 12px;
    font-size: 0.8rem;
    letter-spacing: 3px;
}



.dropdown-toggle::after {
  position: absolute;
    top: 45%;
}

