.navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #222;
}

.navbar-wrapper nav {
  padding: 16px 10px;
}

ul li a {
    margin: 12px;
    font-size: 1rem;
    letter-spacing: 3px;
}

.dropdown-menu {
  background: #222 !important;
  color: #fff !important;

}

.dropdown-item {
    color: #fff !important;
    margin: 0 !important;
    padding: 15px !important;
    background-color: #222 !important;

}

.navbar-brand {
  padding: 35px;
}

.nav-About .nav-link {
  color: $teal !important;
}

.dropdown .nav-link {
  color: $dirty-pink !important;
}

.nav-Network .nav-link {
  color: $mango !important;
}

.nav-Contact .nav-link {
  color: $orange !important;
}

.navbar .nav-link:hover {
  color: white !important;
  transition: color 200ms linear;

}




