
.newsletter-wrapper {
   width: 100%;
  width: 100%;
  height: 450px;
  background-size: cover;
      background-position: center;

  background-attachment: fixed;
  // box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.1);

}

.newsletter-button {
  background-color: $teal;
  margin: 1rem auto;
}

.newsletter-button-wrapper {
  margin: 0 auto;
}

.newsletter-social-wrapper {
  margin: 0 auto;
    text-align: center;
      // box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.1);


}

.newsletter-social-wrapper a i {
  font-size: 2.7rem;
  color: black;
  padding: 2.5rem;
  text-align: center;
}

.newsletter-social-wrapper a i:hover {
  color: white;
    transition: color 200ms linear;

}

.newsletter-small-text {
  width: 70%;
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 600;

}

.newsletter-social-list {

}