.masthead {
  height: 540px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  color: white;
  padding-top: 70px;
  margin-bottom: 40px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

.masthead .masthead-heading {
  font-size: 5rem;
  font-weight: 900;
  line-height: 2.75rem;
  letter-spacing: 0.6rem;
  

}
.masthead .masthead-subheading {
  font-size: 1.7rem;
  padding-top: 40px;
}

.masthead .container {
  width: auto;
  padding-top: 100px;
}

.social-media-wrapper {
  padding-left: 0;
}

// width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;

 // VIDEO HEADER

.video-container {
  height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -10;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}